
.all_input_containers{
  // Specify positioning attributes, like margins, here.

    input{
     
    }
  
    .input_label{

    }
  
    .error_message{
      
    }
  
    input:not(:placeholder-shown){
      // Input (Filled)
    }
  
    input:not(:placeholder-shown) ~ .input_label{
      // Input Label (Filled)
    }
    
    input:focus ~ .input_label{
      // Input Label (On Focus)
    }
  
    input:focus{
      // Input (On Focus)
    }
  
    input:invalid:not(:placeholder-shown){
      // Input (Invalid)
    }
  
    input:invalid:not(:placeholder-shown) ~ .input_label{
      // Input Label (Invalid)
    }  
  }
  
  // Or change styles for specific elements

  .input_theme1_container{
    //Copy format from above
  }